.perfil {
    width: 500px;
    padding: 20px;
    background-color: white;
}

h1 {
    color: purple;
}

.nome {
    color: hotpink;
}

.nivel {
    color: violet;
}

.seguidores {
    color: deepskyblue;
    font-size: 35px;
}

.conteudos {
    color: plum;
    font-size: 25px;
}

.interacoes {
    color: gray;
}